.footer-container {
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #b38cfb;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  padding: 30px 2.5vw 10px;
  height: 170px;
  width: 103%;
  margin: -10px;
  bottom: 0;
}

.img {
  height: 100px;
  width: 180px;
  margin-right: 10px;
}

.inner-cont {
  display: flex;
}

.cat-foot {
  height: 132px;
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  margin-right: 50px;
}

.cat,
.about,
.resource,
.find {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 12px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: black
}

.cat {
  position: relative;
}

.category
{
  color: black;
  width: 100px
}

.category-5 {
  margin-top: 38px;
}

.category:hover,
.resource:hover,
.map:hover,
.help1:hover,
.contact:hover {
  color: black
}

.cat-div {
  width: 100px;
}


.resources {
  display: flex;
  flex-direction: column;
  color: black;
  width: 150px;
}

.find-us {
  display: grid;
  grid-template-areas:
    'find find find find'
    'insta face twitter pin';
  color: black;
  width: 200px;
  height: 100px;
}

.find {
  grid-area: find;
}



.fa-linkedin-in,
.fa-github
 {
  font-size: 40px;
}


.footer-bottom {
  display: flex;
  color: rgb(187, 187, 187);
  width: 100%;
  justify-content: center;
}

.terms {
  margin-left: 10px;
  margin-right: 10px;
}