.post-container {
  width: 100%;
  background-color: #424242;
  padding: 60px;
  margin-bottom: 20px;
  margin-top: 2px;
}

.post-body {
  margin-left: 20%;
  font-family: 'RocknRoll One',
  sans-serif;
  overflow-wrap: break-word;
  color: #b38cfb;
}

.post-user {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.post-username {
  margin-left: 10px;
}

.comment-div {
  width: 120px;
}

.comment-div:hover {
  text-decoration: none;
  cursor: pointer;
}

.likes {
   font-family: 'RocknRoll One',
   sans-serif;
   color: #b38cfb;
}
