.user-game-div {
  width: 85px;
  height: 130px;
  box-sizing: border-box;
  box-shadow: 0 8px 8px 2px rgb(0 0 0 / 20%);
  margin-left: 5px;
  background-color: rgb(109, 92, 153, 20%);
  margin-bottom: 2%;
}

.user-game-img {
  vertical-align: middle;
  border: 0;
  width: 85px;
  height: 85px;
}

.user-game-info{
  text-align: center;
  line-height: 10px;
}

.user-game-title{
  font-size: 10px;
}