.search {
     width: 17rem;
     height: 2rem;
     background: #f2f1f9;
     border: none;
     padding: 4px;
     margin: 20px;
     border-radius: 4px;
     margin-right: 10px;
}

.search-button{
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  height: 2rem;
  font-size: 20px;
  width: 85px;
  margin-right: 80px;
  padding-bottom: 5px;
}